# Citi Bike Data 2018-2019

In [1]:
# Dependencies & Setup
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
path_data_01 = "Resources/JC-201901-citibike-tripdata.csv"
path_data_02 = "Resources/JC-201902-citibike-tripdata.csv"
path_data_03 = "Resources/JC-201903-citibike-tripdata.csv"
path_data_04 = "Resources/JC-201904-citibike-tripdata.csv"
path_data_05 = "Resources/JC-201905-citibike-tripdata.csv"
path_data_06 = "Resources/JC-201906-citibike-tripdata.csv"
path_data_07 = "Resources/JC-201907-citibike-tripdata.csv"
path_data_08 = "Resources/JC-201908-citibike-tripdata.csv"
path_data_09 = "Resources/JC-201909-citibike-tripdata.csv"
path_data_10 = "Resources/JC-201910-citibike-tripdata.csv"
path_data_11 = "Resources/JC-201911-citibike-tripdata.csv"
path_data_12 = "Resources/JC-201912-citibike-tripdata.csv"

In [3]:
# Reading csv ->df
data_01_df=pd.read_csv(path_data_01)
data_02_df=pd.read_csv(path_data_02)
data_03_df=pd.read_csv(path_data_03)
data_04_df=pd.read_csv(path_data_04)
data_05_df=pd.read_csv(path_data_05)
data_06_df=pd.read_csv(path_data_06)
data_07_df=pd.read_csv(path_data_07)
data_08_df=pd.read_csv(path_data_08)
data_09_df=pd.read_csv(path_data_09)
data_10_df=pd.read_csv(path_data_10)
data_11_df=pd.read_csv(path_data_11)
data_12_df=pd.read_csv(path_data_12)

In [4]:
#Combine the dataframes
frames=[data_01_df,data_02_df,data_03_df,data_04_df,data_05_df,data_06_df,
       data_07_df,data_08_df,data_09_df,data_10_df,data_11_df,data_12_df]

data_2019_df=pd.concat(frames)

In [5]:
#Display the combined df
data_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [6]:
#Count of the combined df
data_2019_df.count()

tripduration               404947
starttime                  404947
stoptime                   404947
start station id           404947
start station name         404947
start station latitude     404947
start station longitude    404947
end station id             404947
end station name           404947
end station latitude       404947
end station longitude      404947
bikeid                     404947
usertype                   404947
birth year                 404947
gender                     404947
dtype: int64

In [7]:
#Check the data types
data_2019_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [8]:
#Convert the datatypes for starttime and stoptime fileds
data_2019_df["starttime"] = pd.to_datetime(data_2019_df["starttime"])
data_2019_df["stoptime"] = pd.to_datetime(data_2019_df["stoptime"])
data_2019_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [9]:
data_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [10]:
#Rename columns for readabilty
data_2019_df.columns=["trip_duration","start_time","stop_time",
                      "start_station_id","start_station_name",
                      "start_station_latitude","start_station_longitude",
                      "end_station_id","end_station_name",
                      "end_station_latitude","end_station_longitude",
                     "bike_id","usertype","birth_year","gender"]
data_2019_df.dtypes

trip_duration                       int64
start_time                 datetime64[ns]
stop_time                  datetime64[ns]
start_station_id                    int64
start_station_name                 object
start_station_latitude            float64
start_station_longitude           float64
end_station_id                      int64
end_station_name                   object
end_station_latitude              float64
end_station_longitude             float64
bike_id                             int64
usertype                           object
birth_year                          int64
gender                              int64
dtype: object

In [11]:
# In the gender column replace 0-"Unknown", 1-"Male",2-"Female"
data_2019_df=data_2019_df.replace(0, "Unknown")

In [12]:
data_2019_df=data_2019_df.replace(1, "Male")

In [13]:
data_2019_df=data_2019_df.replace(2, "Female")

In [14]:
#Export the file and save as .csv
data_2019_df.to_csv("Resources/2019.csv",index=False,header=True,encoding='utf-8-sig')
data_2019_df.to_csv("2019.csv",index=False,header=True,encoding='utf-8-sig')